<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.viral.organizadorjec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitysPrincipales.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivitysPrincipales.Registro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menucentral"
            android:label="@string/title_activity_menucentral"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitysPrincipales.MenuCentral"
            android:label="@string/title_activity_menu_central"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>